@{
    ViewData["Title"] = "Dificultad";
}

@model Dificultades

<div class="container">
    <div class="jumbotron" style="height: 40rem; background-color:  #c0392b;">
        <div class="container">
            <div class="jumbotron"
                style="height: 30rem; background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-blackboard-cartoon-character-education-image_6004.jpg);">
                <form asp-controller="Home" asp-action="Jugar" method="post">
                    <div class="col" style="text-align: center;"><br><br><br>
                        <div class="row">
                            <div class="form-group col">
                                <br><br>
                                <h3 class="text-warning">Dificultad</h3>
                                <select style="width: 25rem;" asp-for="IdDificultad"
                                    asp-items="@(new SelectList(ViewBag.Dificultad, "IdDificultad", "Dificultad"))">
                                </select><br><br>
                                <input type="submit" class="btn btn-warning" style="border-radius: 20rem;"
                                    value="Iniciar Partida" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container" style="text-align: center;">
                <a class="btn btn-success" style="border-radius: 10rem;" asp-controller="Home" asp-action="Jugadores">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        <path fill-rule="evenodd"
                            d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                    Volver
                </a>
            </div>
        </div>
    </div>
</div>