@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="jumbotron" style="height: 40rem; background-color:  #c0392b;">
        <div class="container">
            <div class="jumbotron"
                style="height: 30rem; background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-blackboard-cartoon-character-education-image_6004.jpg);">
                <div class="col" style="text-align: center;"><br><br><br>
                    <h3 class="text-warning">Has Cometido Un Error</h3><br>
                    <h3 class="text-warning">Vuelve A La Pagina De Inicio</h3><br>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning"
                        style="width: 15rem; border-radius: 10rem;">Volver Al Inicio</a><br><br>
                </div>
            </div>
        </div>
    </div>
</div>