@{
    ViewData["Title"] = "Inicio";
    var dato = ViewBag.vista;
}

<div class="container">
    <div class="jumbotron" style="height: 40rem; background-color:  #c0392b;">
        <div class="container">
            <div class="jumbotron"
                style="height: 30rem; background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-blackboard-cartoon-character-education-image_6004.jpg);">
                <div class="col" style="text-align: center;"><br><br><br>
                    <h3 class="text-warning">Ahorcado</h3><br>
                    <a asp-controller="Home" asp-action="Jugadores" class="btn btn-warning"
                        style="width: 15rem; border-radius: 10rem;">Jugar</a><br><br>
                    <a href="https://github.com/BPoER00/Ahorcado.git" class="btn btn-warning" style="width: 15rem; border-radius: 10rem;">Repositorio</a><br>
                </div>
            </div>
        </div>
    </div>
</div>